.body {
  pre code {
    margin: 0.725rem 0 1.5rem;
  }

  img {
    @apply my-4;
  }

  h1, h2, h3, h4 {
    @apply text-white/80;
    margin: 1.5rem 0 0.725rem;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-3xl font-medium;
  }

  h3 {
    @apply text-xl font-normal;
  }

  h4 {
    @apply text-lg font-normal;
  }

  p {
    @apply my-1;
  }

  li {
    list-style: square;
    margin-left: 1.5rem;
    font-weight: 300;
  }

  a {
    @apply text-pink-200;
  }
}