/*!
 * Global Styles
 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: theme('colors.wine.900');
}

/*
 * Scrollbar Styles
 */
/* For Chrome, Edge, Safari and Opera */
::-webkit-scrollbar {
  @apply w-1.5 h-1 md:h-1.5;
  &-track {
    @apply bg-white/0;
  }
  &-thumb {
    @apply bg-pink-200 hover:bg-pink-500 rounded-sm;
  }
}

/* For Firefox */
html {
  scrollbar-color: theme('colors.pink.200') #00000000;
}