.button {
  padding: 0.5rem 0.75rem;
  font-weight: 300;

  &Primary {
    background-color: #ff8df8;
    color: #0a0b10;

    &:hover {
      background-color: #c86bef;
    }
  }

  &Secondary {
    background-color: #0000004c;
    color: #ffffffe5;

    &:hover {
      background-color: #00000066;
    }
  }
}