@import '../styles/variables';

.button {
  padding: 0.5rem 0.75rem;
  font-weight: 300;

  &Primary {
    background-color: $accent-primary;
    color: #0a0b10;

    &:hover {
      background-color: $accent-secondary;
    }
  }

  &Secondary {
    background-color: $bg-primary;
    color: #ffffffe5;

    &:hover {
      background-color: $bg-secondary;
    }
  }
}