.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.card {
  display: flex;
  padding: 1rem 2rem;
  gap: 1rem;
  flex-basis: 30%;
  align-items: center;

  background-color: #0000004C;
  cursor: pointer;

  &:hover {
    background-color: #00000066;
  }

  &Horizontal {
    flex-direction: row;
  }

  &Vertical {
    flex-direction: column;
  }

  @media (max-width: 1500px) {
    flex-basis: 48%;
  }

  @media (max-width: 1000px) {
    flex-basis: 100%;
  }
}