.body {
  h2, h3 {
    margin: 1.5rem 0 0.725rem;
  }

  pre code {
    margin: 0.725rem 0 1.5rem;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  p {
    font-weight: 300;
    margin: 0.5rem 0;
  }

  li {
    list-style: square;
    margin-left: 1.5rem;
    font-weight: 300;
  }

  a {
    @apply text-primary;
  }
}