@import '../../lib/_variables.scss';

.drops {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 18rem;
  height: 9rem;

  background-color: $bg-primary;
  color: #FFFFFFCC;

  font-size: 1.125rem;

  &Over {
    background-color: $bg-secondary;
    color: #FFFFFFE5;
  }
}