/* Global Style Sheet */
@import './variables';

/* Scrollbar Customization */
/* Firefox */
* {
  scrollbar-color: $accent-primary $color-night-200;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 6px;

  &-track {
    background-color: $color-night-200;
  }

  &-thumb {
    background-color: $accent-primary;
    border-radius: 8px;

    &:hover {
      background-color: $accent-secondary;
    }
  }
}