pre code.hljs {
  @apply block overflow-x-auto p-5 w-full;
}

code {
  @apply text-sm;
}

code:not(pre code) {
  @apply p-1;
  &::before {
    content: '`';
  }
  &::after {
    content: '`';
  }
}

.hljs {
  @apply bg-white/10 border border-white/[.15] rounded-xl text-white/60 relative;
}

.hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-variable.language_ {
  color: #FFCD8D;
}

.hljs-title, .hljs-title.class_, .hljs-title.class_.inherited__, .hljs-title.function_ {
  color: #d2a8ff;
}

.hljs-attr, .hljs-attribute, .hljs-literal, .hljs-meta, .hljs-number, .hljs-operator, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id, .hljs-variable {
  color: #8DBFFF;
}

.hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
  color: #8DBFFF;
}

.hljs-built_in, .hljs-symbol {
  color: #ffa657;
}

.hljs-code, .hljs-comment, .hljs-formula {
  color: #FFFFFF33;
}

.hljs-name, .hljs-quote, .hljs-selector-pseudo, .hljs-selector-tag {
  color: #8DFF94;
}

.hljs-subst {
  color: #c9d1d9;
}

.hljs-section {
  color: #1f6feb;
  font-weight: 700;
}

.hljs-bullet {
  color: #f2cc60;
}

.hljs-emphasis {
  color: #c9d1d9;
  font-style: italic
}

.hljs-strong {
  color: #c9d1d9;
  font-weight: 700;
}

.hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}

.hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}